{{- $event := .event -}}

{{- $weekdays := index .i18n.datetime.weekdays .lang -}}
{{ $starttime := index .i18n.events.starttime .lang }}

<div class="row date-time">
  <div class="col-xs-6">
    {{- $event_datefmt := dateFormat "02.01.2006" $event.datetime -}}
    {{- $event_weekday := index $weekdays (int (printf "%d" (time $event.datetime).Weekday)) -}}
    {{ $event_time := dateFormat "15:04" $event.datetime }}
    <p class="date">{{ printf "%s, %s" $event_datefmt $event_weekday }}</p>
  </div>
  <div class="col-xs-6">
    <p class="time text-right">{{ printf "%s %s" $starttime $event_time }}</p>
  </div>
</div>
