<footer class="footer">
  <div class="container">
    <div class="row hidden-xs">
      <div class="col-xs-6">
        <ul class="social-buttons-inline">
          <li>
            <a href="mailto:{{- .Params.contacts.email -}}" class="btn-social">
              <i class="fa fa-envelope"></i>
            </a>
            <span> {{- .Params.contacts.email -}}</span>
          </li>
        </ul>
      </div>
      <div class="col-xs-6 text-right">
        {{ partial "social_buttons.html" . }}
      </div>
    </div>
    <div class="row hidden-sm hidden-md hidden-lg">
      <div class="coll-xs-12 text-center">
        {{ partial "social_buttons.html" . }}
      </div>
    </div>
  </div>
</footer>

<!-- jQuery -->
<script src="/resources/vendor/js/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="/resources/vendor/js/bootstrap.min.js"></script>

<!-- Custom JavaScript -->
<script src="/resources/js/main.js"></script>

<!-- Yandex.Share buttons -->
<script type="text/javascript" src="//yastatic.net/share/share.js" charset="utf-8"></script>

<!-- Yandex.Metrika counter -->
<script type="text/javascript">
(function (d, w, c) {
  (w[c] = w[c] || []).push(function() {
    try {
      w.yaCounter31236343 = new Ya.Metrika({
        id:31236343,
        clickmap:true,
        trackLinks:true,
        accurateTrackBounce:true
      });
    } catch(e) { }
  });

  var n = d.getElementsByTagName("script")[0],
  s = d.createElement("script"),
  f = function () { n.parentNode.insertBefore(s, n); };
  s.type = "text/javascript";
  s.async = true;
  s.src = "https://mc.yandex.ru/metrika/watch.js";

  if (w.opera == "[object Opera]") {
    d.addEventListener("DOMContentLoaded", f, false);
  } else { f(); }
})(document, window, "yandex_metrika_callbacks");
</script>
<noscript>
  <div>
    <img src="https://mc.yandex.ru/watch/31236343" style="position:absolute; left:-9999px;" alt="" />
  </div>
</noscript>
<!-- /Yandex.Metrika counter -->
