<ul class="social-buttons-inline">
  <li><a class="btn-social" target="_blank" href="{{- .Site.Params.contacts.vk -}}"><i class="fa fa-vk"></i></a>
  </li>
  <li><a class="btn-social" target="_blank" href="{{- .Site.Params.contacts.facebook -}}"><i class="fa fa-facebook"></i></a>
  </li>
  <li><a class="btn-social" target="_blank" href="{{- .Site.Params.contacts.instagram -}}"><i class="fa fa-instagram"></i></a>
  </li>
  <li><a class="btn-social" target="_blank" href="{{- .Site.Params.contacts.youtube -}}"><i class="fa fa-youtube"></i></a>
  </li>
  <li><a class="btn-social" target="_blank" href="{{- .Site.Params.contacts.soundcloud -}}"><i class="fa fa-soundcloud"></i></a>
  </li>
</ul>
