<ul class="social-buttons-inline">
  <li><a class="btn-social" target="_blank" href="{{- .Site.Data.common.contacts.vk.url -}}"><i class="fa fa-vk"></i></a>
  </li>
  <li><a class="btn-social" target="_blank" href="{{- .Site.Data.common.contacts.facebook.url -}}"><i class="fa fa-facebook"></i></a>
  </li>
  <li><a class="btn-social" target="_blank" href="{{- .Site.Data.common.contacts.instagram.url -}}"><i class="fa fa-instagram"></i></a>
  </li>
  <li><a class="btn-social" target="_blank" href="{{- .Site.Data.common.contacts.youtube.url -}}"><i class="fa fa-youtube"></i></a>
  </li>
  <li><a class="btn-social" target="_blank" href="{{- .Site.Data.common.contacts.soundcloud.url -}}"><i class="fa fa-soundcloud"></i></a>
  </li>
</ul>
